home, html {
    width: 100%;
    height: 100%;
    font-family: 'Cagliostro', sans-serif;
    font-size: 0.69em;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 5%;
    height: 8%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #222;
    color: #fff;
}

header div {
    padding: 0.6em;
}

header form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

header form input {
    width: 22rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #666;
    border-radius: 1.3em;
    padding: 0.83em 0.5em 0.83em 2.65em;
    font-size: 1.3em;
    border: none;
}

header form i {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #666;
}

header form button {
    display: none;
}

hr {
    display: block;
    height: 1.2px;
    width: 80%;
    background-color: #fff;
    margin-left: 0;
    border: none;
}

.weatherByTheHour, .renderedWeather {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.weatherByTheHour {
    flex-shrink: 0;
    justify-content: space-between;
    background-color: #222;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.weatherByTheHour::-webkit-scrollbar {
    display: none;
}

.renderedHourlyWeather {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.weekday {
    background-color: #aaff00;
    color: #000;
    text-transform: uppercase;
    padding: 10px 1px;
    text-orientation: mixed;
    writing-mode: tb-rl;
}

.hourlyWeatherItem {
    display: inline-block;
    font-size: 1.1em;
    padding: 3px 10px 3px 5px;
}

.hourlyWeatherItem img {
    width: 27px;
}

.rightPanel hr {
    margin-top: 1em;
    width: 90%;
}

.renderedWeather {
    position: relative;
    height: 50%;
    min-height: 91vh;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, .3) url('https://source.unsplash.com/1920x1080/?hongkong') center center;
    background-size: cover;
    margin: 0 0 .2rem 0;
    padding: 10px;
}

.cityName {
    align-self: center;
    font-size: 6rem;
    margin: 6vw 3vw;
}

.todayWeather {
    padding: 13% 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(9, 9, 9, .49)
}

.todayWeather, .todayWeather hr {
    margin: 10px;
    text-align: center;
}

.todayWeather div {
    font-size: 2.3rem;
}

.dailyWeather {
    font-size: 1.7rem;
    padding: 3.8rem 2rem 2rem;
    display: flex;
    flex-shrink: 1;
    flex-wrap: nowrap;
    align-self: center;
    width: 500px;
    max-width: 32vw;
}

.dailyWeather .date {
    font-size: 2.1rem;
}

.tToday, .todayWeather .tToday {
    font-size: 3.6rem;
    justify-self: center;
    margin: 0 0 1rem 0;
}

.leftPanel {
    flex-grow: 1;
}

.leftPanel hr {
    text-align: center;
    margin: 10px auto;
}

.leftPanel img {
    width: 4.4rem;
    margin-left: 19px;
}

.timeNow {
    margin-bottom: 26px;
}

.renderedWeather .cOrF {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.poweredBy {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 1.3rem;
}

.poweredBy a {
    text-decoration: none;
    color: inherit;
}

.icon img {
    width: 5rem;
}

.sunCycle {
    position: relative;
    width: 90%;
    height: 50vw;
    border: 2px solid yellow;
    border-radius: 50%;
    margin: 0 auto;
}

.sun img {
    position: absolute;
    height: 27px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1200px) {
    .renderedWeather {
        height: auto;
        background-blend-mode: darken;
        background: url('https://source.unsplash.com/720x405/?kyoto') center center;
        background-size: cover;
        padding: 10px 20px 30px 50px;
    }

    .renderedWeather, .rightPanel, .dailyWeather {
        display: block;
    }

    .rightPanel, .dailyWeather, .forecastSummary {
        max-width: 96%;
    }

    .cityName {
        margin: 9vw 1vw 2vw;
        font-size: 5rem;
    }
}

@media screen and (max-width:420px) {
    .renderedWeather {
        padding: 10px;
	    background: linear-gradient(280deg, rgba(4, 0, 255, 1) 0%, rgba(30, 81, 125, 1) 100%);
    }

    .renderedWeather .cOrF {
        top: 15px;
        left: 72%;
        font-size: 1rem;
    }

    .icon img {
        width: 3rem;
        margin-bottom: 8px;
    }

    .dailyWeather, .dailyWeather .date, .tToday {
        font-size: 1.3rem;
    }

    .dailyWeather .date {
        margin-bottom: 6px;
    }

    .poweredBy {
        margin-top: 10px;
        font-size: 1rem;
    }
}

/* GitHub corner start */

.github-corner {
    fill:#05668d;
    color:#ebf2fa;
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    border: 0;
    z-index: 1;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,	100% {
		transform: rotate(0)
	}
	20%, 60% {
		transform: rotate(-25deg)
	}
	40%, 80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}

/* GitHub corner end */
