home, html {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 0.75em;
    padding: 0;
    margin: 0;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 5%;
    height: 8%;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #222;
    color: #fff;
}

header div {
    padding: 0.6em;
}

header form {
    position: relative;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

header form input {
    width: 22rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #666;
    border-radius: 1.3em;
    padding: 0.83em 0.5em 0.83em 2.65em;
    font-size: 1.3em;
    border: none;
}

header form i {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #666;
}

header form button {
    display: none;
}

hr {
    display: block;
    height: 1.2px;
    width: 80%;
    background-color: #fff;
    margin-left: 0;
    border: none;
}

.weatherByTheHour, .renderedWeather {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    color: #fff;
}

.weatherByTheHour {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    background-color: #222;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.weatherByTheHour::-webkit-scrollbar {
    display: none;
}

.renderedHourlyWeather {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    color: #fff;
}

.weekday {
    background-color: #AAFF00;
    color: #000;
    text-transform: uppercase;
    padding: 10px 1px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    writing-mode: tb-rl;
}

.hourlyWeatherItem {
    display: inline-block;
    font-size: 1.1em;
    padding: 3px 10px 3px 5px;
}

.hourlyWeatherItem img {
    width: 27px;
}

.rightPanel hr {
    margin-top: 1em;
    width: 90%;
}

.renderedWeather {
    position: relative;
    height: 50%;
    min-height: 91vh;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: darken;
    background-image: url('https://source.unsplash.com/1920x1080/?weather');
    background-position: center center;
    background-size: cover;
    margin: 0 0 .2rem 0;
    padding: 10px;
}

.cityName {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: baseline;
    font-size: 6rem;
    margin: 1vw 0;
}

.todayWeather, .todayWeather hr {
    margin: 0 auto;
    text-align: center;
}

.todayWeather div {
    font-size: 2.3rem;
}

.dailyWeather {
    font-size: 1.7rem;
    padding: 3.8rem 2rem 2rem;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-item-align: center;
    align-self: center;
    width: 500px;
    max-width: 32vw;
}

.dailyWeather .date {
    font-size: 2.1rem;
}

.tToday {
    font-size: 3rem;
    -ms-grid-column-align: center;
    justify-self: center;
    margin: 0 0 1rem 0;
}

.leftPanel img {
    width: 12vw;
    margin: 10px;
}

.renderedWeather .cOrF {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.poweredBy {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 1.3rem;
}

.poweredBy a {
    text-decoration: none;
    color: inherit;
}

.icon img {
    width: 5rem;
}

@media screen and (max-width:1200px) {
    .renderedWeather {
        padding: 10px 20px 30px 100px;
        background-image: url('https://source.unsplash.com/1280x720/?kyoto');
    }

    .cityName {
        margin: 6% 0;
    }
}

@media screen and (max-width:720px) {
    .renderedWeather {
        height: auto;
        background-blend-mode: darken;
        background-image: url('https://source.unsplash.com/720x405/?sunshine');
        background-position: center center;
        background-size: cover;
        padding: 10px 20px 30px 50px;
    }

    .renderedWeather, .rightPanel, .dailyWeather {
        display: block;
    }

    .rightPanel, .dailyWeather, .forecastSummary {
        max-width: 96%;
    }

    .cityName {
        margin: 19vw 1vw 2vw 0;
        font-size: 3rem;
    }
}

@media screen and (max-width:420px) {
    .renderedWeather {
        padding: 10px;
        background-image: url('');
	    background: -webkit-linear-gradient(170deg, rgba(4, 0, 255, 1) 0%, rgba(30, 81, 125, 1) 100%);
	    background: -o-linear-gradient(170deg, rgba(4, 0, 255, 1) 0%, rgba(30, 81, 125, 1) 100%);
	    background: linear-gradient(280deg, rgba(4, 0, 255, 1) 0%, rgba(30, 81, 125, 1) 100%);
    }

    .renderedWeather .cOrF {
        top: 15px;
        left: 72%;
        font-size: 1rem;
    }

    .icon img {
        width: 3rem;
        margin-bottom: 8px;
    }

    .dailyWeather, .dailyWeather .date, .tToday {
        font-size: 1.3rem;
    }

    .dailyWeather .date {
        margin-bottom: 6px;
    }

    .poweredBy {
        margin-top: 10px;
        font-size: 1rem;
    }
}
