home, html {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 0.75em;
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    min-height: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #222;
    color: #fff;
}
header div {
    padding: 0.6em;
}
header form {
    display: flex;
    flex-wrap: nowrap;
}
header form input {
    font-family: 'Ubuntu Condensed', sans-serif;
}

button {
    border-radius: 0 8px 8px 0;
    color: #fff;
    background-color: #009900;
    border: none;
    font-size: inherit;
}

button:hover {
    color: #fcf9f9;
    background-color: #568ac5;
}

header form input {
    border-radius: 8px 0 0 8px;
    padding: 0.63em;
    font-size: inherit;
}

.renderedWeather {
    height: auto;
    min-height: 91vh;
    display: flex;
    flex-flow: row;
    justify-content: safe;
    color: #fff;
    background-color:#EF6C00;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: darken;
    background-image: url('https://source.unsplash.com/category/nature/1280x720');
    background-position: center center;
    background-size: cover;
    margin: 0 0 .7rem 0;
}

.cityName {
    align-self: center;
    font-size: 6rem;
    margin: 0 4vw;
}

.todayWeather, .dailyWeather {
    display: flex;
    align-self: center;
    padding: 2rem;
    font-size: 1.3rem;
}

.todayWeather .date, .todayWeather .tToday, .dailyWeather .tToday {
    font-size: 3rem;
    justify-self: center;
    margin: 0 0 1rem 0;
}

.dailyWeather .date {
    font-size: 2.1rem;
}

.icon img {
    width: 5rem;
}

.todayWeather .icon img {
    width: 15rem;
}

.futureForecast hr {
    display: block;
    height: 2px;
    width: 80%;
    background-color: #fff;
}

@media screen and (max-width:720px) {
    .renderedWeather {
        display: block;
        height: auto;
        background-blend-mode: darken;
        background-image: url('https://source.unsplash.com/category/darkness/720x405');
        background-position: center center;
        background-size: cover;
    }
    .todayWeather {
        display: block;
    }
    .futureForecast hr {
        height: .02px;
    }
}
@media screen and (max-width:320px) {
    .renderedWeather {
        background-image: url('');
        background:#EF6C00;
	    background: linear-gradient(280deg, rgba(4, 0, 255, 1) 0%, rgba(30, 81, 125, 1) 100%);
    }
    .cityName {
        margin: 0 1vw;
    }
}
